{% extends "layout.njk" %}

{% block content %}
  <div class="flexbox">
    {% for item in objectArray %}
      <div class="flexitems">
        <h2>{{item.title}}</h2>
        <p>{{item.desc}}</p>
        <a href="game/{{item.link}}">learn more about it !</a>
      </div>
    {% endfor %}
  </div>


{% endblock %}
