<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Document</title>
    <link href="/styles/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="flexHeader">
        <img src="" alt="logo of the company">
        <input type="text" placeholder="Recherche">
      </div>
      <ul>
        <li>Catégorie 1</li>
        <li>|</li>
        <li>Catégorie 2</li>
        <li>|</li>
        <li>Catégorie 3</li>
        <li>|</li>
        <li>Catégorie 4</li>
        <li>|</li>
        <li>Catégorie 5</li>
      </ul>
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer>
      <div class="flexFooter">
        <div class="footerList">
          <ul>
            <h3>Menu</h3>
            <li>Nouveauté</li>
            <li>Soldes</li>
            <li>Homme</li>
            <li>Femme</li>
            <li>Les stars du moment</li>
            <li>Actu</li>
          </ul>
        </div>
        <div class="footerList">
          <ul>
            <h3>Info</h3>
            <li>A propos de MOON</li>
            <li>Ecologie MOON</li>
            <li>Presse</li>
            <li>Nos valeurs</li>
            <li>Recrutement / job</li>
            <li>Créateurs / styliste</li>
          </ul>
        </div>
        <div class="footerList">
          <ul>
            <h3>Aide et contact</h3>
            <li>FAQ</li>
            <li>Mail</li>
            <li>Téléphone</li>
            <li>Service clients</li>
            <li>Magasins</li>
            <li>Mon compte</li>
            <li>Carte cadeau</li>
            <li>Paramètres de cookies</li>
          </ul>
        </div>
      </div>
      <span class="endFooter"></span>
      <p>Le contenu de ce site est protégé par la loi du copyright et appartient à Moon Streetwear.</p>
    </footer>
  </body>
</html>
